In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
import matplotlib.pyplot as plt
import scikitplot as skplt

In [2]:
data = pd.read_csv(r'DOH COVID Data Drop_ 20201031 - 04 Case Information.csv')
data

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CaseCode,Age,AgeGroup,Sex,DateSpecimen,DateResultRelease,DateRepConf,DateDied,DateRecover,RemovalType,...,ProvRes,CityMunRes,CityMuniPSGC,BarangayRes,BarangayPSGC,HealthStatus,Quarantined,DateOnset,Pregnanttab,ValidationStatus
0,C642447,25.0,25 to 29,MALE,2020-07-14,2020-07-15,2020-07-19,NaN,NaN,RECOVERED,...,COTABATO CITY (NOT A PROVINCE),NaN,NaN,NaN,NaN,RECOVERED,NO,NaN,NaN,"Removal Type is ""Recovered"", but no Recovered ..."
1,C919481,54.0,50 to 54,MALE,2020-07-27,2020-07-30,2020-08-03,NaN,NaN,RECOVERED,...,NaN,NaN,NaN,NaN,NaN,RECOVERED,NO,NaN,NaN,"Health Status is ""Recovered"", but no Date Reco..."
2,C378726,50.0,50 to 54,FEMALE,2020-07-18,2020-07-19,2020-07-24,NaN,NaN,RECOVERED,...,NaN,NaN,NaN,NaN,NaN,RECOVERED,NO,NaN,NO,"Health Status is ""Recovered"", but no Date Reco..."
3,C556553,30.0,30 to 34,FEMALE,2020-05-27,2020-05-27,2020-05-31,NaN,NaN,RECOVERED,...,NaN,NaN,NaN,NaN,NaN,RECOVERED,NO,NaN,NO,"Removal Type is ""Recovered"", but no Recovered ..."
4,C210854,33.0,30 to 34,MALE,2020-07-21,2020-07-24,2020-07-28,NaN,NaN,RECOVERED,...,NaN,NaN,NaN,NaN,NaN,RECOVERED,NO,NaN,NaN,"Health Status is ""Recovered"", but no Date Reco..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380724,C881229,29.0,25 to 29,MALE,2020-09-09,2020-09-13,2020-09-16,NaN,2020-09-24,RECOVERED,...,ROMBLON,CALATRAVA,PH175904000,BALOGO,PH175904001,RECOVERED,YES,NaN,NaN,NaN
380725,C591169,22.0,20 to 24,MALE,2020-09-09,2020-09-13,2020-09-16,NaN,2020-09-24,RECOVERED,...,ROMBLON,CALATRAVA,PH175904000,BALOGO,PH175904001,RECOVERED,YES,NaN,NaN,NaN
380726,C325398,27.0,25 to 29,FEMALE,2020-09-09,2020-09-13,2020-09-16,NaN,2020-09-24,RECOVERED,...,ROMBLON,CALATRAVA,PH175904000,BALOGO,PH175904001,RECOVERED,YES,NaN,NO,Age or Birthdate is Invalid
380727,C768847,46.0,45 to 49,FEMALE,2020-08-24,2020-08-28,2020-08-30,NaN,2020-09-07,RECOVERED,...,ROMBLON,SANTA MARIA (IMELDA),PH175917000,NaN,NaN,RECOVERED,YES,2020-08-20,NO,NaN
380728,C138460,1.0,0 to 4,MALE,2020-08-24,2020-08-28,2020-08-30,NaN,2020-09-07,RECOVERED,...,ROMBLON,SANTA MARIA (IMELDA),PH175917000,NaN,NaN,RECOVERED,YES,2020-08-20,NaN,Age or Birthdate is Invalid\nUnexpected change...

In [3]:
data.describe()

                 Age
count  378546.000000
mean       38.064225
std        16.614353
min         0.000000
25%        26.000000
50%        35.000000
75%        49.000000
max       107.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380729 entries, 0 to 380728
Data columns (total 22 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CaseCode           380729 non-null  object
 1   Age                378546 non-null  float64
 2   AgeGroup           378546 non-null  object
 3   Sex                380729 non-null  object
 4   DateSpecimen       318641 non-null  object
 5   DateResultRelease  319409 non-null  object
 6   DateRepConf        380729 non-null  object
 7   DateDied           7155 non-null    object
 8   DateRecover        91993 non-null   object
 9   RemovalType        338267 non-null  object
 10  Admitted           380579 non-null  object
 11  RegionRes          377056 non-null  object
 12  ProvRes            355798 non-null  object
 13  CityMunRes         345275 non-null  object
 14  CityMuniPSGC       345275 non-null  object
 15  BarangayRes        151373 non-null  object
 16  BarangayPSGC       151373 non-null  object
 17  HealthStatus       380729 non-null  object
 18  Quarantined        380575 non-null  object
 19  DateOnset          124491 non-null  object
 20  Pregnanttab        172010 non-null  object
 21  ValidationStatus   251828 non-null  object
dtypes: float64(1), object(21)
memory usage: 63.9+ MB

In [5]:
df = data.drop(data.loc[:, 'CaseCode':'Age'].columns, axis=1)
df = df.drop('Sex', axis=1)
df = df.drop(df.loc[:, 'DateResultRelease':'Admitted'].columns, axis=1)
df = df.drop('ProvRes', axis=1)
df = df.drop(df.loc[:, 'CityMuniPSGC':'BarangayPSGC'].columns, axis=1)
df = df.drop(df.loc[:, 'DateOnset':'ValidationStatus'].columns, axis=1)
df

,AgeGroup,DateSpecimen,RegionRes,CityMunRes,HealthStatus,Quarantined
0,25 to 29,2020-07-14,Region XII: SOCCSKSARGEN,NaN,RECOVERED,NO
1,50 to 54,2020-07-27,NaN,NaN,RECOVERED,NO
2,50 to 54,2020-07-18,ROF,NaN,RECOVERED,NO
3,30 to 34,2020-05-27,NCR,NaN,RECOVERED,NO
4,30 to 34,2020-07-21,NCR,NaN,RECOVERED,NO
...,...,...,...,...,...,...
380724,25 to 29,2020-09-09,Region IV-B: MIMAROPA,CALATRAVA,RECOVERED,YES
380725,20 to 24,2020-09-09,Region IV-B: MIMAROPA,CALATRAVA,RECOVERED,YES
380726,25 to 29,2020-09-09,Region IV-B: MIMAROPA,CALATRAVA,RECOVERED,YES
380727,45 to 49,2020-08-24,Region IV-B: MIMAROPA,SANTA MARIA (IMELDA),RECOVERED,YES
380728,0 to 4,2020-08-24,Region IV-B: MIMAROPA,SANTA MARIA (IMELDA),RECOVERED,YES

In [6]:
titles = list(df.columns)
titles

['AgeGroup',
 'DateSpecimen',
 'RegionRes',
 'CityMunRes',
 'HealthStatus',
 'Quarantined']

In [7]:
titles[4], titles[5] = titles[5], titles[4]
titles[2], titles[3] = titles[3], titles[2]
titles

['AgeGroup',
 'DateSpecimen',
 'CityMunRes',
 'RegionRes',
 'Quarantined',
 'HealthStatus']

In [8]:
df = df[titles]
df

,AgeGroup,DateSpecimen,CityMunRes,RegionRes,Quarantined,HealthStatus
0,25 to 29,2020-07-14,NaN,Region XII: SOCCSKSARGEN,NO,RECOVERED
1,50 to 54,2020-07-27,NaN,NaN,NO,RECOVERED
2,50 to 54,2020-07-18,NaN,ROF,NO,RECOVERED
3,30 to 34,2020-05-27,NaN,NCR,NO,RECOVERED
4,30 to 34,2020-07-21,NaN,NCR,NO,RECOVERED
...,...,...,...,...,...,...
380724,25 to 29,2020-09-09,CALATRAVA,Region IV-B: MIMAROPA,YES,RECOVERED
380725,20 to 24,2020-09-09,CALATRAVA,Region IV-B: MIMAROPA,YES,RECOVERED
380726,25 to 29,2020-09-09,CALATRAVA,Region IV-B: MIMAROPA,YES,RECOVERED
380727,45 to 49,2020-08-24,SANTA MARIA (IMELDA),Region IV-B: MIMAROPA,YES,RECOVERED
380728,0 to 4,2020-08-24,SANTA MARIA (IMELDA),Region IV-B: MIMAROPA,YES,RECOVERED

In [9]:
start_date = '2020-09-10'
end_date = '2020-10-10'

df = df.loc[df['RegionRes'] == 'Region IV-A: CALABARZON']
df = df.loc[(df['CityMunRes'] == 'CITY OF ANTIPOLO (CAPITAL)') | (df['CityMunRes'] == 'TAYTAY')]
df = df.loc[(df['DateSpecimen'] >= start_date) & ((df['DateSpecimen'] <= end_date))]
df = df.reset_index(drop=True)

df

,AgeGroup,DateSpecimen,CityMunRes,RegionRes,Quarantined,HealthStatus
0,45 to 49,2020-09-22,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,NO,RECOVERED
1,30 to 34,2020-09-28,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,YES,RECOVERED
2,35 to 39,2020-09-18,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,NO,RECOVERED
3,30 to 34,2020-09-18,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,YES,SEVERE
4,35 to 39,2020-10-01,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,YES,RECOVERED
...,...,...,...,...,...,...
1296,5 to 9,2020-10-03,TAYTAY,Region IV-A: CALABARZON,YES,RECOVERED
1297,60 to 64,2020-09-21,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
1298,50 to 54,2020-09-11,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
1299,75 to 79,2020-10-07,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
1300,25 to 29,2020-10-08,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED

In [10]:
df = df.dropna()
df = df.reset_index(drop=True)
df

,AgeGroup,DateSpecimen,CityMunRes,RegionRes,Quarantined,HealthStatus
0,45 to 49,2020-09-22,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,NO,RECOVERED
1,30 to 34,2020-09-28,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,YES,RECOVERED
2,35 to 39,2020-09-18,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,NO,RECOVERED
3,30 to 34,2020-09-18,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,YES,SEVERE
4,35 to 39,2020-10-01,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,YES,RECOVERED
...,...,...,...,...,...,...
1296,5 to 9,2020-10-03,TAYTAY,Region IV-A: CALABARZON,YES,RECOVERED
1297,60 to 64,2020-09-21,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
1298,50 to 54,2020-09-11,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
1299,75 to 79,2020-10-07,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
1300,25 to 29,2020-10-08,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED

In [11]:
df['DateSpecimen'] = pd.to_datetime(df['DateSpecimen'], format='%Y-%m-%d')
df

,AgeGroup,DateSpecimen,CityMunRes,RegionRes,Quarantined,HealthStatus
0,45 to 49,2020-09-22,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,NO,RECOVERED
1,30 to 34,2020-09-28,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,YES,RECOVERED
2,35 to 39,2020-09-18,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,NO,RECOVERED
3,30 to 34,2020-09-18,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,YES,SEVERE
4,35 to 39,2020-10-01,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,YES,RECOVERED
...,...,...,...,...,...,...
1296,5 to 9,2020-10-03,TAYTAY,Region IV-A: CALABARZON,YES,RECOVERED
1297,60 to 64,2020-09-21,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
1298,50 to 54,2020-09-11,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
1299,75 to 79,2020-10-07,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
1300,25 to 29,2020-10-08,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED

In [12]:
df['DateSpecimen'] = df['DateSpecimen'].dt.strftime('%m/%d/%Y')
df

,AgeGroup,DateSpecimen,CityMunRes,RegionRes,Quarantined,HealthStatus
0,45 to 49,09/22/2020,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,NO,RECOVERED
1,30 to 34,09/28/2020,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,YES,RECOVERED
2,35 to 39,09/18/2020,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,NO,RECOVERED
3,30 to 34,09/18/2020,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,YES,SEVERE
4,35 to 39,10/01/2020,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,YES,RECOVERED
...,...,...,...,...,...,...
1296,5 to 9,10/03/2020,TAYTAY,Region IV-A: CALABARZON,YES,RECOVERED
1297,60 to 64,09/21/2020,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
1298,50 to 54,09/11/2020,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
1299,75 to 79,10/07/2020,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
1300,25 to 29,10/08/2020,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED

In [13]:
Taytay = df
Antipolo = df

Taytay = Taytay.loc[Taytay['CityMunRes'] == 'TAYTAY']
Antipolo = Antipolo.loc[Antipolo['CityMunRes'] == 'CITY OF ANTIPOLO (CAPITAL)']

Taytay = Taytay.reset_index(drop=True)
Antipolo = Antipolo.reset_index(drop=True)

In [14]:
Taytay

,AgeGroup,DateSpecimen,CityMunRes,RegionRes,Quarantined,HealthStatus
0,65 to 69,09/21/2020,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
1,60 to 64,09/16/2020,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
2,30 to 34,09/29/2020,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
3,30 to 34,09/18/2020,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
4,60 to 64,09/28/2020,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
...,...,...,...,...,...,...
464,5 to 9,10/03/2020,TAYTAY,Region IV-A: CALABARZON,YES,RECOVERED
465,60 to 64,09/21/2020,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
466,50 to 54,09/11/2020,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
467,75 to 79,10/07/2020,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED
468,25 to 29,10/08/2020,TAYTAY,Region IV-A: CALABARZON,NO,RECOVERED

In [15]:
Antipolo

,AgeGroup,DateSpecimen,CityMunRes,RegionRes,Quarantined,HealthStatus
0,45 to 49,09/22/2020,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,NO,RECOVERED
1,30 to 34,09/28/2020,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,YES,RECOVERED
2,35 to 39,09/18/2020,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,NO,RECOVERED
3,30 to 34,09/18/2020,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,YES,SEVERE
4,35 to 39,10/01/2020,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,YES,RECOVERED
...,...,...,...,...,...,...
827,30 to 34,09/23/2020,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,NO,RECOVERED
828,45 to 49,10/08/2020,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,NO,MILD
829,40 to 44,09/10/2020,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,NO,RECOVERED
830,60 to 64,09/23/2020,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,NO,RECOVERED
831,25 to 29,09/18/2020,CITY OF ANTIPOLO (CAPITAL),Region IV-A: CALABARZON,NO,RECOVERED

In [16]:
#1st City = Taytay
uniAgeG = Taytay['AgeGroup'].unique().tolist()
uniHealth = Taytay['HealthStatus'].unique().tolist()
uniDate = Taytay['DateSpecimen'].unique().tolist()

#2nd City = Antipolo
uniAgeG2 = Antipolo['AgeGroup'].unique().tolist()
uniHealth2 = Antipolo['HealthStatus'].unique().tolist()
uniDate2 = Antipolo['DateSpecimen'].unique().tolist()

#Overall
uniAgeGO = df['AgeGroup'].unique().tolist()
uniHealthO = df['HealthStatus'].unique().tolist()
uniDateO = df['DateSpecimen'].unique().tolist()

In [17]:
#1st City = Taytay
for i in range(len(Taytay)):
    for k in uniAgeG:
        if Taytay['AgeGroup'][i] == k:
            Taytay['AgeGroup'][i] = uniAgeG.index(k)

    for l in uniHealth:
        if Taytay['HealthStatus'][i] == l:
            Taytay['HealthStatus'][i] = uniHealth.index(l)
            
    for m in uniDate:
        if Taytay['DateSpecimen'][i] == m:
            Taytay['DateSpecimen'][i] = uniDate.index(m)
   
#2nd City = Antipolo
for i in range(len(Antipolo)):
    for k in uniAgeG2:
        if Antipolo['AgeGroup'][i] == k:
            Antipolo['AgeGroup'][i] = uniAgeG2.index(k)

    for l in uniHealth2:
        if Antipolo['HealthStatus'][i] == l:
            Antipolo['HealthStatus'][i] = uniHealth2.index(l)
            
    for m in uniDate2:
        if Antipolo['DateSpecimen'][i] == m:
            Antipolo['DateSpecimen'][i] = uniDate2.index(m)
            
#Overall
for i in range(len(df)):
    for k in uniAgeGO:
        if df['AgeGroup'][i] == k:
            df['AgeGroup'][i] = uniAgeGO.index(k)

    for l in uniHealthO:
        if df['HealthStatus'][i] == l:
            df['HealthStatus'][i] = uniHealthO.index(l)
            
    for m in uniDateO:
        if df['DateSpecimen'][i] == m:
            df['DateSpecimen'][i] = uniDateO.index(m)

In [28]:
Taytay

,AgeGroup,DateSpecimen,CityMunRes,RegionRes,Quarantined,HealthStatus
0,0,0,TAYTAY,Region IV-A: CALABARZON,NO,0
1,1,1,TAYTAY,Region IV-A: CALABARZON,NO,0
2,2,2,TAYTAY,Region IV-A: CALABARZON,NO,0
3,2,3,TAYTAY,Region IV-A: CALABARZON,NO,0
4,1,4,TAYTAY,Region IV-A: CALABARZON,NO,0
...,...,...,...,...,...,...
464,16,13,TAYTAY,Region IV-A: CALABARZON,YES,0
465,1,0,TAYTAY,Region IV-A: CALABARZON,NO,0
466,9,12,TAYTAY,Region IV-A: CALABARZON,NO,0
467,6,23,TAYTAY,Region IV-A: CALABARZON,NO,0
468,4,27,TAYTAY,Region IV-A: CALABARZON,NO,0

In [18]:
#1st City = Taytay
#column = Taytay.loc[:, 'AgeGroup':'DateSpecimen'].columns.to_list() # SUBJECT TO CHANGE
#x = Taytay[column].astype('int')
#y = Taytay['HealthStatus'].astype('int')
y = Taytay['DateSpecimen'].astype('int')
z = Taytay['HealthStatus'].astype('int')

#2nd City = Antipolo
#column = Antipolo.loc[:, 'AgeGroup':'DateSpecimen'].columns.to_list() # SUBJECT TO CHANGE
#x2 = Antipolo[column].astype('int')
y2 = Antipolo['DateSpecimen'].astype('int')
z2 = Antipolo['HealthStatus'].astype('int')

#Overall
yy = df['DateSpecimen'].astype('int')
zz = df['HealthStatus'].astype('int')

In [19]:
y.corr(z, method='pearson')

0.4528710667956824

In [20]:
y2.corr(z2, method='pearson')

0.19683049979683503

In [21]:
yy.corr(zz, method='pearson')

0.20772294825964502

In [22]:
#x_train, x_test, y_train, y_test = train_test_split(y, z, test_size = 0.2)
#x_train2, x_test2, y_train2, y_test2 = train_test_split(y2, z2, test_size = 0.2)

In [23]:
#logreg = LogisticRegression()
#logreg2 = LogisticRegression()
clf = DecisionTreeClassifier()

In [24]:
#logreg.fit(x_train, y_train)
#logreg2.fit(x_train2, y_train2)
clf = clf.fit(y,z)

ValueError: Expected 2D array, got 1D array instead:
array=[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9.  3.  3. 10.  0. 11.  0. 11.  3.
  3. 12.  1.  8. 10. 13. 12. 14. 15. 15.  3. 10. 11.  0.  6.  9.  0. 12.
  6.  6.  6.  6. 13.  1. 16. 14.  7. 14. 14. 12. 14. 15.  0.  1.  0.  0.
 12.  0. 11.  5.  0.  8. 14.  1. 12. 11. 14.  7. 14. 14. 10.  9. 17.  3.
  9.  3. 18. 11. 16.  3.  3.  4.  5. 16. 19. 14.  8.  9.  1. 20.  3.  0.
 11. 11. 21.  3.  5. 22. 23. 16. 12. 24. 12. 15.  8. 23. 11. 15.  4. 20.
 16. 12.  7. 25.  2. 26.  0. 19. 27.  4. 13. 14. 11. 16.  1.  7.  7.  3.
  3. 16. 17. 16. 20. 23. 24. 13. 15. 27.  8. 26. 15.  7.  3.  8. 26. 28.
 29. 15. 24. 29.  4. 11. 14. 21. 19. 28. 16. 26.  3.  9. 25. 29. 16.  9.
  3. 24. 29.  3. 21. 29. 16. 27.  3. 28. 24. 28.  8. 15. 16. 17. 11. 24.
  7. 19. 24. 24. 19. 24. 24. 13. 21. 26.  9.  4. 28. 30.  7. 11. 26.  6.
 13.  7. 15. 28. 23. 26. 27. 19. 26. 24. 23. 24.  2. 15. 26. 15. 24. 21.
 15.  3. 15. 28.  2.  6. 11. 15.  2. 23. 28. 25.  2. 21. 23. 15. 27. 21.
 23.  0. 15.  0. 10. 24. 11.  3.  2. 15. 15. 15. 12. 19.  3.  9. 19.  8.
 28.  2. 13. 24.  4.  9. 27.  4. 26.  1. 21. 21. 26. 30. 16.  3. 16.  9.
 15.  4.  4.  9. 13. 23. 24.  8.  1. 27. 21.  4. 26.  4. 11.  4. 11. 15.
 19. 10. 12. 17. 19. 16. 24. 21. 24. 16. 29.  5. 11.  7. 15. 29.  2. 13.
 23. 20.  7. 27. 27.  0. 17. 23. 15. 11. 15.  0.  2.  1. 27. 28. 23. 21.
 29. 27.  2. 15. 21. 12. 10. 16. 26. 21. 28. 12.  3. 13.  2. 17. 30.  1.
  4.  9.  7. 16. 21. 17. 19. 19. 29.  2. 14.  1. 17. 26. 30. 28. 19.  4.
 13. 28. 24. 10. 16. 16.  1.  8. 23. 16. 23. 15. 15. 16. 13. 29. 24.  9.
 10. 16. 17.  8.  3. 16. 19.  6. 25.  3. 28. 23.  9. 23.  2.  2.  9. 19.
 28. 30.  4. 20. 24.  2. 19. 24. 26.  1. 28. 16.  9. 11.  2. 16.  2.  9.
  9. 19.  0. 16. 26. 24.  2.  7. 26.  3. 16. 16. 16. 24. 21. 14. 21. 30.
 27. 16. 26. 22.  4. 28. 21. 13.  4. 13. 24.  2. 24. 10. 19. 26. 24. 19.
 17. 25. 28.  2. 24. 28.  9. 27. 13.  1. 27. 24. 22. 26. 13.  0. 12. 23.
 27.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
y_pred = logreg.predict(x_test)
y_pred2 = logreg2.predict(x_test2)

In [ ]:
matrix = metrics.confusion_matrix(y_test, y_pred)
matrix

In [ ]:
matrix2 = metrics.confusion_matrix(y_test2, y_pred2)
matrix2

In [ ]:
print(classification_report(y_test,y_pred))

In [ ]:
print(classification_report(y_test2,y_pred2))

In [ ]:
import seaborn as sns

In [ ]:
#Taytay
uniHealth

In [ ]:
#Antipolo
uniHealth2

In [ ]:
plt.figure(figsize=(10,10))
ax = sns.heatmap(pd.DataFrame(matrix), annot=True, cmap="coolwarm",fmt='g')
ax.xaxis.set_label_position("top")
ax.set_xticklabels([uniHealth[0],uniHealth[1],uniHealth[2],uniHealth[3]])
ax.set_yticklabels([uniHealth[0],uniHealth[1],uniHealth[2],uniHealth[3]])
plt.title('Matrix')
plt.show()

In [ ]:
plt.figure(figsize=(10,10))
ax = sns.heatmap(pd.DataFrame(matrix2), annot=True, cmap="coolwarm",fmt='g')
ax.xaxis.set_label_position("top")
ax.set_xticklabels([uniHealth2[0],uniHealth2[1],uniHealth2[2],uniHealth2[3],uniHealth2[4],uniHealth2[5]])
ax.set_yticklabels([uniHealth2[0],uniHealth2[1],uniHealth2[2],uniHealth2[3],uniHealth2[4],uniHealth2[5]])
plt.title('Matrix')
plt.show()

In [ ]:
skplt.metrics.plot_cumulative_gain(y_test, y_pred)

plt.show()

In [ ]:
skplt.metrics.plot_cumulative_gain(y_test2, y_pred2)

plt.show()